<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="'CO - ' + ${operacion} + ' ' + ${nombre}"></title>
    <link th:href="@{/styles/cubico.css}" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="pantalla">
        <div class="lista">
    <h1><a th:href="@{/}">Elementos</a></h1>
    <ul>
        <li><a th:href="@{/zapatas}" class="menu">Zapatas</a></li>
        <li><a th:href="@{/pedestales}" class="menu">Pedestales</a></li>
        <li><a th:href="@{/vigas}" class="menu">Vigas</a></li>
        <li><a th:href="@{/columnas}" class="menu">Columnas</a></li>
        <li><a th:href="@{/placas}" class="menu">Placas</a></li>
        <li><a th:href="@{/muros}" class="menu">Muros</a></li>
        <li><a th:href="@{/pisos}" class="menu">Pisos</a></li>
        <li><a th:href="@{/estuco}" class="menu">Estuco</a></li>
        <li><a th:href="@{/cantidades}" class="menu">Cantidades</a></li>
        <li><a th:href="@{/historial}" class="menu">Historial</a></li>
    </ul>
</div>
        <div class="contenedor">
            <h1>CALCULADORA DE OBRA</h1>
            <div class="formulario">
                <h2 th:text="${operacion} + ' ' + ${nombre}"></h2>
                <form method="post" th:action="${accion}">
                    <div class="topcantidad">
                        <div>
                            <label for="tipo">Tipo</label><br>
                            <input type="text" id="tipo" name="tipo"th:value="${tipo}" class="text" 
                            placeholder="etiqueta, ej: Z1">
                        </div>
                        <div>
                            <label for="cantidad">Cantidad</label><br>
                            <input type="text" id="cantidad" name="cantidad" th:value="${cantidad}" class="text"
                            placeholder="ingresa la cantidad">
                        </div>
                    </div>
                    <input type="hidden" id="elemento" name="elemento" th:value="${nombre}">
                    <label for="largo">Largo</label>
                    <input type="text" id="largo" name="largo" th:value="${largo}" class="text" 
                    placeholder="ingresa el largo en metros">

                    <label for="ancho">Ancho</label>
                    <input type="text" id="ancho" name="ancho" th:value="${ancho}" class="text" 
                    placeholder="ingresa el ancho en metros">

                    <label for="alto">Alto</label>
                    <input type="text" id="alto" name="alto" th:value="${alto}" class="text" 
                    placeholder="ingresa el alto en metros">

                    <input type="submit" value="Resultado" class="boton">
                </form>
                <div class="resultado">
                    <label for="resultado">Resultado: </label>
                </div>
            </div>
        </div>
    </div>
</body>
</html>