<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="'CO - Historial' + @{elemento}"></title>
    <link th:href="@{/css/historial.css}" rel="stylesheet" type="text/css">
    <script th:src="@{/js/mhistorial.js}"></script>
</head>

<body>
    <div class="pantalla">
        <div class="lista">
            <h1><a th:href="@{/}">Elementos</a></h1>
            <ul>
                <li><a th:href="@{/zapatas}" class="menu">Zapatas</a></li>
                <li><a th:href="@{/pedestales}" class="menu">Pedestales</a></li>
                <li><a th:href="@{/vigas}" class="menu">Vigas</a></li>
                <li><a th:href="@{/columnas}" class="menu">Columnas</a></li>
                <li><a th:href="@{/placas}" class="menu">Placas</a></li>
                <li><a th:href="@{/muros}" class="menu">Muros</a></li>
                <li><a th:href="@{/pisos}" class="menu">Pisos</a></li>
                <li><a th:href="@{/estuco}" class="menu">Estuco</a></li>
                <li><a th:href="@{/cantidades}" class="menu">Cantidades</a></li>
                <li><a th:href="@{/historial}" class="menu">Historial</a></li>
            </ul>
        </div>
        <div class="contenedor">
            <h1>CALCULADORA DE OBRA</h1>
            <div class="historial" id="elemento3d">
                <table>
                    <tr>
                        <th th:text="'ID'"></th>
                        <th th:text="'ELEMENTO'"></th>
                        <th th:text="'TIPO'"></th>
                        <th th:text="'LARGO'"></th>
                        <th th:text="'ANCHO'"></th>
                        <th th:text="'ALTO'"></th>
                        <th th:text="'CANTIDAD'"></th>
                        <th th:text="'AREA UNITARIA'"></th>
                        <th th:text="'AREA TOTAL'"></th>
                        <th th:text="'MODIFICAR'"></th>
                    </tr>
                    <tr th:each="figura3d : ${elemento3d}">
                        <td th:text="${figura3d.id}"></td>
                        <td th:text="${figura3d.elemento}"></td>
                        <td th:text="${figura3d.tipo}"></td>
                        <td th:text="${figura3d.largo} + ' ' + 'm'"></td>
                        <td th:text="${figura3d.ancho} + ' ' + 'm'"></td>
                        <td th:text="${figura3d.alto} + ' ' + 'm'"></td>
                        <td th:text="${figura3d.cantidad}"></td>
                        <td th:text="${figura3d.areaUnidad + ' ' + 'm3'}"></td>
                        <td th:text="${figura3d.areaTotal}  + ' ' + 'm3'"></td>
                        <td>
                            <a th:href="@{/editar/figura3d/{id} (id=${figura3d.id})}">
                                Editar
                            </a>
                            <a th:href="@{/eliminar/figura3d/{id}(id=${figura3d.id})}">
                                Eliminar
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="historial" id="elemento2d">
                <table>
                    <tr>
                        <th th:text="'ID'"></th>
                        <th th:text="'ELEMENTO'"></th>
                        <th th:text="'TIPO'"></th>
                        <th th:text="'LARGO'"></th>
                        <th th:text="'ANCHO'"></th>
                        <th th:text="'CANTIDAD'"></th>
                        <th th:text="'AREA UNITARIA'"></th>
                        <th th:text="'AREA TOTAL'"></th>
                        <th th:text="'MODIFICAR'"></th>
                    </tr>
                    <tr th:each="figura2d : ${elemento2d}">
                        <td th:text="${figura2d.id}"></td>
                        <td th:text="${figura2d.elemento}"></td>
                        <td th:text="${figura2d.tipo}"></td>
                        <td th:text="${figura2d.largo} + ' ' + 'm'"></td>
                        <td th:text="${figura2d.ancho} + ' ' + 'm'"></td>
                        <td th:text="${figura2d.cantidad}"></td>
                        <td th:text="${figura2d.areaUnidad + ' ' + 'm2'}"></td>
                        <td th:text="${figura2d.areaTotal}  + ' ' + 'm2'"></td>
                        <td>
                            <a th:href="@{/editar/figura2d/{id} (id=${figura2d.id})}">
                                Editar
                            </a>
                            <a th:href="@{/eliminar/figura2d/{id}(id=${figura2d.id})}">Eliminar</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</body>

</html>