<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
</head>
<body>
<center>
    <h1>CALCULADORA DE OBRA</h1>
    <div>
        <form method="post" action="/redirigir">
            <button type="submit" name="accion" value="cuadrado" class="boton">Cuadrado</button>
            <button type="submit" name="accion" value="cubico" class="boton">Cubico</button>
            <button type="submit" name="accion" value="historial" class="boton">Historial</button>
        </form>
    </div>
</center>
</body>
</html>