<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CO - Inicio</title>
    <link th:href="@{/css/estilos.css}" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="pantalla">
        <div class="lista">
            <h1><a th:href="@{/}">Elementos</a></h1>
            <ul>
                <li><a th:href="@{/zapatas}" class="menu">Zapatas</a></li>
                <li><a th:href="@{/pedestales}" class="menu">Pedestales</a></li>
                <li><a th:href="@{/vigas}" class="menu">Vigas</a></li>
                <li><a th:href="@{/columnas}" class="menu">Columnas</a></li>
                <li><a th:href="@{/placas}" class="menu">Placas</a></li>
                <li><a th:href="@{/muros}" class="menu">Muros</a></li>
                <li><a th:href="@{/pisos}" class="menu">Pisos</a></li>
                <li><a th:href="@{/estuco}" class="menu">Estuco</a></li>
                <li><a th:href="@{/cantidades}" class="menu">Cantidades</a></li>
                <li><a th:href="@{/historial}" class="menu">Historial</a></li>
            </ul>
        </div>
        <div class="contenedor">
            <h1>CALCULADORA DE OBRA</h1>
            <p>
                La Calculadora de Obra es una herramienta digital diseñada para ayudar a arquitectos, ingenieros, 
                contratistas y otros profesionales de la construcción en el cálculo preciso de los recursos 
                necesarios en cada fase de un proyecto. Este software permite estimar de manera rápida y confiable 
                los costos, cantidades de materiales, y tiempos de ejecución para una obra, facilitando una 
                planificación detallada y evitando errores que pueden surgir en cálculos manuales.
            </p>
        </div>
    </div>
</body>
</html>